<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/script.js"></script>
</head>
  <body>
    <div class= "content">
    <div class="large_spacer"></div>
    <h1 class="titles">Meet The Creators</h1>
    <p class="sub_titles">Who would you like to meet first?</p>
    <div class="large_spacer"></div>

<div class="about_style">
            <form id="show_jordan" action="/about" method="get">
              <div><input class="small_btn" type="submit" value="Jordan"></div>
            </form>
            <div class="small_spacer"></div>
            <div id="jordan_div" style="display: none">
            <img src="images/jordan.jpg" height="200" width="200">
            <p>Hello! My name is Jordan Stewart I am an 18 year old computer scientist from Chicago, IL. In the fall I will be attending Howard University where I will be studying to obtain my Bachelor's Degree in Information Systems. I have been involved with computers my entire life. At the age of just 8, I built my own computer from scratch, one that I continued to use for the next few years before it eventually gave out. I have studied Computer Science 3 out of my 4 years in High School, and I also attended the Google Computer Science Summer Institution this summer. I am particularly a front-end worker, but look to expand on my knowledge and skills within computer science. I also love making music and playing basketball in my spare time! My favorite artists are Future, Kendrick Lamar, J. Cole and Erykah Badu and my favorite players are Russell Westbrook and LeBron James! </p>
          </div>
            <div class="spacer"></div>
</div>

<div class="about_style">
            <form id="show_alia" action="/about" method="get">
              <div><input class="small_btn" type="submit" value="Alia"></div>
            </form>
            <div class="small_spacer"></div>
            <div id="alia_div" style="display: none">
              <img src="images/alias_picture.jpg" height="200" width="200">
              <p>Get to know Alia!</p>
            </div>
            <div class="spacer"></div>
</div>

<div class="about_style">
            <form id="show_jewel" action="/about" method="get">
              <div><input class="small_btn" type="submit" value="Jewel"></div>
            </form>
            <div class="small_spacer"></div>
            <div id="jewel_div" style="display: none">
            <img src="images/icon.jpg">
            <p>Get to know Jewel!</p>
          </div>
            <div class="spacer"></div>
</div>

            <form id="begin" action="/home" method="get">
              <div><input class="big_btn" type="submit" value="Home"></div>
            </form>
            <div class="spacer"></div>

    </div>

  </body>
</html>
