<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/script.js"></script>
</head>
  <body>
    <div class= "content">
    <div class="large_spacer"></div>
    <h1 class="titles">Meet The Creators</h1>
    <p class="sub_titles">Who would you like to meet first?</p>
    <div class="large_spacer"></div>


            <form id="begin" action="/jordan" method="get">
              <div><input class="small_btn" type="submit" value="Meet Jordan"></div>
            </form>
            <div class="spacer"></div>

            <form id="begin" action="/alia" method="get">
              <div><input class="small_btn" type="submit" value="Meet Alia"></div>
            </form>
            <div class="spacer"></div>


            <form id="begin" action="/jewel" method="get">
              <div><input class="small_btn" type="submit" value="Meet Jewel"></div>
            </form>
            <div class="spacer"></div>


            <form id="begin" action="/home" method="get">
              <div><input class="big_btn" type="submit" value="Home"></div>
            </form>
            <div class="spacer"></div>

    </div>

  </body>
</html>
