<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
    <p class="logout_buttons"> <a  href="{{logout_url}}">Logout Here</a></p>
    <p class="left_buttons"> <a href="/">Home</a></p>
    <div class="spacer">
    </div>
    <h1 class="titles">Your Friends</h1>
    {%if friends%}
      {%for friend in friends%}
        {%if friend.nickname%}
        <p>{{friend.nickname}}</p>
        {%else%}
        <p>{{friend.currentUserID}}</p>
        {%endif%}
        {%endfor%}
    {%else%}
      <p>You have no friends!</p>
    {%endif%}
    <form id="show_add_friends" action="/friends" method="get">
    <p>
      <div><input class="small_btn" type="submit" value="Find Friends"></div>
    </p>
    </form>
    <form id="add_friends" action="/friends" method="get" style="display: none">
    <p>
      <div class="labels">Enter their email: <input name="friend_email"></input></div>
      <div><input class="small_btn" type="submit" value="Add Friend"></div>
    </p>
    </form>
  </body>
</html>
