<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song Quiz</title>
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/script.css"> -->
</head>
  <body>
    <h1>Guess That Song Quiz</h1>

    <form action="/results" method="post">
    <p>
      {%for song in songs%}
        {%counter=0%}
          Question {%counter%}+1</br>
          <audio controls>
            <source src="{{song.source}}" type="audio/mpeg">
          </audio>
            <div>Artist: <input name="artist"+{{counter}}></input></div>
            <div>Song Title: <input name="song_title"+{{counter}}></input></div>
        {%counter+=1%}
      {%endfor%}
      <div><input type="submit" value="Submit Quiz"></div>

    </p>
    </form>
  </body>
</html>
