<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song Quiz</title>
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/script.css"> -->
</head>
  <body>
    <h1>Guess That Song Quiz</h1>
    <audio controls>
<source src="Fashion Killa.mp3" type="audio/mpeg">
</audio>
    <form action="/results" method="post">
      <div>Artist: <input name="artist"></input></div>
      <div>Song Title: <input name="song_title"></input></div>
      <div><input type="submit" value="Submit Quiz"></div>
    </form>
  </body>
</html>
