<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song Quiz</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
<p align="right"> <a href="{{logout_url}}">Logout Here</a></p>

    <h1 id="welcome">Welcome {{nickname}}, to the Guess The Song Game!</h1>

    <h3>Choose your settings</h3>
    <form action="/quiz" method="post">
      <p>Choose your genre:
        <select name="genre">
          <option value="hiphop">Hip Hop</option>
          <option value="pop">Pop</option>
        </select>
      </p>
      <div><input id="submit_btn"type="submit" value="Submit Your Quiz Settings"></div>
    </form>
  </body>
</html>
