<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song Quiz</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
  <body>
    <a href="{{logout_url}}">Logout Here</a>
    <h1 id="welcome">Welcome {{nickname}}, to the Guess The Song Game!</h1>
    <form action="/quiz" method="post">
      <p>Choose your genre:
        <select name="genre">
          <option value="hiphop">Hip Hop</option>
          <option value="pop">Pop</option>
        </select>
      </p>
      <div><input class="btn"type="submit" value="continue to quiz"></div>
    </form>
  </body>
</html>
